<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: rgba(255, 218, 156, 0.8); width: 50%; height: 30%;
    padding: 5%; margin-left: 25%; border-radius: 1%; margin-top: 8%; color: #422a13">
        <div class="carousel-inner">
            <div class="carousel-item active">
                    <h3 style="margin-left: 10%;">Sobre nós...</h3><br>
                    <p> Situada na Quinta das Rebelas, no concelho do Barreiro (junto ao Mercado Abastecedor), a Quinta do Mião
                        –
                        Centro de Recolha de Animais Errantes do Barreiro e da Moita é uma obra assumida pelos municípios da
                        Moita e
              <% if(hasDonations){ %>          Barreiro que colaboraram, assim, na criação de instalações mais modernas e adequadas do que as
                        existentes
                        até agora nos dois concelhos, repartindo as despesas de construção do novo equipamento e partilhando
                        recursos.
                    </p>
            </div>
            
            <div class="carousel-item">
                    
                        <div style="display: -webkit-box">
                            <div style="margin-left:5%; margin-top: 10%; align-content: center; width: 40%; margin-bottom: 5%;">
                                <h3 style="text-align: center">Destaque - melhor contribuidor</h3>
                                <p>O utilizador que mais contribuiu com doações para o nosso canil foi <%= username %> com um total de
                                    <%= value %>€.</p>
                            </div>
                            <div style=" margin-top: 5%; margin-left: 10%;">
                                <img id="profilePhoto" style="margin: 0% 10%" src=<%= userPhoto %> alt="">
                            </div>
                        </div>
            </div>
            <% } %>
        </div>
        <% if(hasDonations){ %>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <% } %>
    </div>

    <footer>
        <% include ./footer.ejs %>
    </footer>


</body>

</html>