<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar" style="font-size: 18pt;color: coral!important;border-bottom: 2px solid black!important;">
    <div style="margin-left: 10%; margin-right: 10%;">
        <a href="/auth/homepageAuth" class="navbar-brand" id="title" style="font-size: 20pt;"><u>Quinta do Mião</u></a>
    </div>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse"
        style="font-size: 18px; color: #422a13; font-weight: bold;">
        <div class="navbar-nav" style="margin-left: 15%;">
            <% if(role == "Administrador"){ %>
            <a href="/user/listUsers" class="nav-item nav-link active">Contas</a>
            <!--Só para admnistrador-->
            <% } %>
            <% if(role == "Administrador" || role == "Funcionário"){ %>
            <a href="/adoption/listAdoptions" class="nav-item nav-link active">Adoções</a>
            <!--Gestão para admnistrador e funcionários-->
            <% } %>
            <a href="/animal/listAnimals" class="nav-item nav-link active">Animais</a>
            <!--Administrador e funcionarios gerir, utilizador visualizar e fazer pedido de adoção-->

            <a href="/donation/chooseDonation" class="nav-item nav-link active">Donativos</a>
            <!--Administrador e funcionários gerir, utilizador visualizar -->
            <a href="/notif/listNotifications" class="nav-item nav-link active">Notificações <span id="Count"
                    class="badge badge-success badge-pill"></span></a>

        </div>
    </div>



    <div class="navbar-nav ml-auto" id="navbar-right">
        <a href="/user/profile" class="nav-item nav-link"><%= name %></a>
        <a href="/auth/logout" class="nav-item nav-link">Sair</a>
    </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        worker();
        function worker() {
            $.ajax({
                url: '../../notif/countNot',
                success: function (data) {
                    $('#Count').html(data)
                },
                complete: function () {

                    setTimeout(worker, 5000);
                }
            });
        };
    });

</script>