<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>
<header>
    <% include ./header.ejs %>
</header>

<body>
    <div class="permissionDiv">
        <h2 style=" text-align: center; padding-top: 2%; color: #422a13">Altere a permissão</h2>
        <select style=" margin-left: 40%; font-size: 18px; border-radius: 20px; width: 20%; margin-top: 5%;"
            form="permission-form">
            <option disabled selected value> Permissão </option>
            <option value="Funcionario">Funcionário</option>
            <option value="Utilizador">Utilizador</option>
        </select>
        <form action="/user/changePermission" id="permission-form">
            <ul style="list-style-type: none; margin-left: 28%; margin-bottom: 5%; margin-top: 5%;">
                <li>
                    <a href="/user/listUsers"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                            value="Voltar  "></a>
                    <input type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Guardar">
                </li>
            </ul>
        </form>
    </div>
</body>

<footer>
    <% include ./footer.ejs %>
</footer>

</html>