<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>

    <article class="container-form">

        <div class="loginSection" style="height: 60%;">
                <%if (typeof erro != "undefined") { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                        <%= erro %>
                      </div>
                    <% } %>
            <form action="/user/changePassword" method="POST" class="loginForm" name="lgoinform">
                <h3>Escolha uma nova palavra-passe</h3>
                <% JSON.parse(data).forEach(function(help) { %>
                <ul class="noBullet">
                    <li>
                        <label for="oldPassword"></label>
                        <input type="password" class="inputFields" id="oldPassword" name="oldPassword"
                            placeholder="Palavra-passe antiga" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                                          background-repeat: no-repeat;" minlength="8" />
                        <div onclick="toggle_visibility('myPopupPassOld');" class="popup"><span class="popuptext"
                                id="myPopupPassOld"><%= help.currPassword %>.</span></div>
                    </li>

                    <li>
                        <label for="password"></label>
                        <input type="password" class="inputFields" id="password" name="password"
                            placeholder="Palavra-passe nova" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                                  background-repeat: no-repeat;" minlength="8" />
                        <div onclick="toggle_visibility('myPopupPass');" class="popup"><span class="popuptext"
                                id="myPopupPass"><%= help.newPassword %>.</span></div>
                    </li>
                    <li>
                        <label for="confpassword"></label>
                        <input type="password" class="inputFields" id="confpassword" name="confpassword"
                            placeholder="Confirmar Palavra-passe" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                                    background-repeat: no-repeat;" />
                        <div onclick="toggle_visibility('myPopupPassConf');" class="popup"><span class="popuptext"
                                id="myPopupPassConf"><%= help.newPasswordConfirm %>.</span></div>
                    </li>
                    <li id="center-btn">
                        <a href="/user/profile"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Voltar "></a>
                        <input type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Guardar">
                    </li>
                </ul>
                <% }); %>
            </form>
        </div>
    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>

<script>
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confpassword");
    var old_password = document.getElementById("oldPassword");
    var cur_old_password = document.getElementById("old");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("As palavras-passe não coicidem!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    function validateOldPassword() {
        if (cur_old_password.value != old_password.value) {
            old_password.setCustomValidity("Palavra-passe antiga incorreta!");
        } else {
            old_password.setCustomValidity('');
        }

    }

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block') {
            e.style.display = 'none';
            e.style.animationName = "fadeIn";
            e.style.animationDelay = "3s";
        } else {
            e.style.display = 'block';
            setTimeout(function () {
                e.style.display = "none";
            }, 3000);
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;


</script>