<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Editar Perfil</h2>
    <div class="editProfileSection">
        <form action="/user/editProfile" method="POST" enctype='multipart/form-data' class="editForm" name="editForm">
            <div style="display: flex;">
                <table class="tableEdit" style="margin-top: 7%; margin-left: 10%; margin-right: 20%;">
                    <tr>
                        <td for="name">Nome</td>
                        <td> <input type="text" class="inputFieldsE" id="name" name="name" value=<%= name %> required
                                style="background-image: url(/images/profil.png); background-position: 224px 7px;
                            background-repeat: no-repeat;"></td>
                    </tr>
                    <tr>
                        <td for="email">Email</td>
                        <td> <input type="email" class="inputFieldsE" id="email" name="email" value=<%= email %>
                                required style="background-image: url(/images/at.png); background-position: 224px 7px;
                            background-repeat: no-repeat;"> </td>
                    </tr>
                    <tr>
                        <td for="bornDate">Data de nascimento</td>
                        <td> <input type="date" class="inputFieldsE" id="bornDate" name="bornDate" min="1930-01-01"
                                max="2001-01-31" value="<%= bornDate %>" required></td>
                    </tr>
                    <tr>
                        <td for="address">Morada</td>
                        <td> <input type="text" class="inputFieldsE" id="address" name="address" value=<%= address %>
                                required style="background-image: url(/images/address.png); background-position: 224px 7px;
                              background-repeat: no-repeat;"></td>
                    </tr>
                    <tr>
                        <td for="phoneNumber">Nº de telefone</td>
                        <td> <input type="tel" class="inputFieldsE" id="phoneNumber" name="phoneNumber"
                                value=<%= phoneNumber %> required style="background-image: url(/images/phone-call.png); background-position: 224px 7px;
                              background-repeat: no-repeat;" minlength="9"></td>
                    </tr>
                    <tr>
                        <td for="password">Password</td>
                        <td><a href="/user/changePassword"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join"
                                    alt="Join" value="Alterar Password" style="  padding: 5px 15px;"> </a></td>
                    </tr>
                </table>


                <div class="container">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageUpload" name="imageUpload" accept=".png, .jpg, .jpeg" />
                            <label for="imageUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style = "background-image: url('<%= photo %>')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table>
                <ul style="list-style-type: none; margin-left: 5%;">
                    <li>
                        <a href="/user/profile"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                                value="Voltar  "></a>
                        <input type="submit"class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Guardar">
                    </li>
                </ul>
            </table>
        </form>




</body>

</html>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function () {
        readURL(this);
    });</script>