<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar" style="font-size: 18pt;color: white!important;border-bottom: 2px solid black!important;">
  <div style="margin-left: 10%; margin-right: 10%;">
    <a href="/animal/listAnimalsHomepage" class="navbar-brand" id="title" style="font-size: 20pt;"><u>Quinta do Mião </u></a>
  </div>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="navbar-nav ml-auto" id="navbar-right">
      <a href="/auth/register" class="nav-item nav-link">Registar</a>
      <a href="/auth/login" class="nav-item nav-link">Autenticar</a>
    </div>
  </div>
</nav>