<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<header>
    <% include ./authenticatedHeader.ejs %>
</header>

<body>
    <div class="listDiv">
        <div style="display: inline">
            <h2 style=" text-align: center; padding-top: 2%;">Lista de Contas</h2>
            <div style="margin-left: 85%;">
                <div style="display: -webkit-inline-box">
                    <div style="background-color: #eb8213; width: 20px; height: 20px; border-radius: 20%"></div>
                    <p> Utilizadores ativos</p>
                </div>
                <div style="display: -webkit-inline-box">
                    <div style="background-color: red; width: 20px; height: 20px; border-radius: 20%"></div>
                    <p> Utilizadores inativos</p>
                </div>
            </div>
        </div>

        <select id="Ordenar" style=" margin-left: 10%; font-size: 18px; border-radius: 20px;">
            <option disabled selected value> Ordenar por </option>
            <option value="Nome">Nome</option>
            <option value="Cargo">Cargo</option>
            <option value="Data">Data de Nascimento</option>
        </select>
        <select id="Filtrar" style="margin-left: 2%; font-size: 18px;border-radius: 20px;">
            <option disabled selected value> Filtrar por </option>
            <option value="todos">Todos</option>
            <optgroup label="Cargo">
                <option value="cargo_Utilizador">Utilizador</option>
                <option value="cargo_Funcionário">Funcionário</option>
            </optgroup>
        </select>

        <!--- <select style="margin-left: 2%; font-size: 18px;border-radius: 20px;">
            <option disabled selected value> Filtrar por </option>
            <option value="Nome">Nome</option>
            <option value="Cargo">Cargo</option>
            <option value="Data">Data de Nascimento</option>
        </select> -->
        <div id="Lista" style="margin-left: 10%; margin-top: 3%;">
            <% JSON.parse(data).forEach(function(dat) { %>
            <% if(dat.isActive){%>
            <div class="listSection">
                <div class="container" style="text-align: center;">
                    <img id="listUsersPhoto" src=<%= dat.photo %> alt="">
                    <input type="hidden" id="userId" name="userId" value=<%=dat.id%>>
                    <br>
                    <br>
                    <p><b><%= dat.name %></b><br><b><%= dat.role%></b>
                        <a href="/user/changePermission" style="text-decoration: none;" class="bogus">
                            <img src="/images/edit.png" style="display: inline;" alt=""> </a></p>
                </div>
            </div>
            <%  }else{ %>
            <div class="listSection" style="background-color: red;">
                <div class="container" style="text-align: center;">
                    <img id="listUsersPhoto" src=<%= dat.photo %> alt="">
                    <input type="hidden" id="userId" name="userId" value=<%=dat.id%>>
                    <br>
                    <br>
                    <p><b><%= dat.name %></b><br><br></p>
                </div>
            </div>
            <% } %>
            <% }); %>
            <div class="w3-container">
                <div id="id01" role="dialog" class="w3-modal w3-animate-opacity">
                    <div class="w3-modal-content w3-card-4 w3-animate-left">
                        <header class="w3-container w3-brown" style="padding: 5%;">
                            <span onclick="document.getElementById('id01').style.display='none'"
                                class="w3-button w3-large w3-display-topright">&times;</span>
                            <h4>Altere a Permissão</h4>
                        </header>
                        <div class="w3-container w3-brown">
                            <p></p>
                            <select id="mySelect" style="font-size: 18px; border-radius: 20px;"></select>
                            <p></p>
                        </div>
                        <div class="footerModal w3-container w3-brown">
                            <input type="hidden" id="ModaluserId">
                            <p></p>
                            <div>
                                <button id="BtnGuardar" class="w3-button w3-white w3-border w3-round-large">Guardar</button>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            bindModal();
            //determinar Id e qual dos botões de alteração foram clicados
            function bindModal() {
            var btns = document.querySelectorAll('.bogus');
            [].forEach.call(btns, function (el) {
                 el.onclick = function (event) {
                    var id = $(this).parent().siblings('input').val();
                    var previous = $(this).prev().text();
                    event.preventDefault();
                    ajaxGetRoles(previous, id);
                }
            })
        

            $("#BtnGuardar").click(function (event) {
            
                event.preventDefault();
                ajaxPostUpdateRole();
            });

            $("#BtnSair").click(function (event) {
                modal.style.display = "none";
            });
            var modal = document.getElementById('id01');
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

            function ajaxGetRoles(prev, Id) {

                if (document.getElementById('mySelect').length == 0) {
                    $.ajax({
                        url: "../user/listRoles/",
                        type: 'GET',
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                        cache: false,
                        success: function (sucesso) {
                            var suc = sucesso;
                            var select = document.getElementById('mySelect');
                            for (i = 0; i < sucesso.length; i++) {
                                var child = document.createElement("option");

                                child.setAttribute('value', suc[i].Id);
                                child.appendChild(document.createTextNode(suc[i].Desc));
                                if (child.text.toLowerCase().trim() == prev.toLowerCase().trim()) {
                                    child.setAttribute('selected', true)
                                }
                                select.appendChild(child);
                            }
                            document.getElementById('ModaluserId').setAttribute('value', Id)
                            document.getElementById('id01').style.display = 'block';
                        },
                        error: function (sucesso) {
                            $("#postResultDiv").html("<p>" +
                                "* " + sucesso + "</p>");
                        }
                    });
                } else {
                    var indice = 0;
                    var sucesso = document.getElementById('mySelect');
                    for (i = 0; i < sucesso.length; i++) {

                        if (sucesso[i].text.toLowerCase().trim() == prev.toLowerCase().trim()) {
                            indice = i;
                            break;
                        }
                    }
                    sucesso.selectedIndex = indice;

                    document.getElementById('id01').style.display = 'block';
                }
            }

            function ajaxPostUpdateRole() {
                var formData = {
                    uid: $("#ModaluserId").val(),
                    role: $("#mySelect option:selected").text(),
                }
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: '../user/updateRole' /*+ "/recoverPassword/"*/,
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    success: function (sucesso) {
                        console.log('ok-' + sucesso)
                        document.getElementById('id01').style.display = "none";
                        window.location.reload(true);
                    },
                    error: function (sucesso) {
                        console.log('erro' + sucesso);
                    }
                });
            }
            //Fechar o modal quando o user clica noutro sítio do ecrã
            

            //Detectar quando o user pede para ordenar lista
            $("#Ordenar").on('change', function (event) {
                var ordem = $(this).val();
                var filtro = $("#Filtrar option:selected").val();
                event.preventDefault();
                ajaxGetOrderedList(ordem, filtro);
            })

            $("#Filtrar").on('change', function (event) {
                var filtro = $(this).val();
                var ordem = $("#Ordenar option:selected").val();
                event.preventDefault();
                ajaxGetOrderedList(ordem, filtro);
            })

            function ajaxGetOrderedList(ordem, filtro) {
                var formData = {
                    order: ordem,
                    filter: filtro,
                }
                $.ajax({
                    url: "../user/listUserOrderedFiltered",
                    type: 'GET',
                    contentType: "application/json",
                    data: formData,
                    dataType: 'text',
                    cache: false,
                    success: function (sucesso) {
                        if (true) {
                            $('#Lista').html(sucesso)
                            bindModal();
                        }
                    },
                    error: function (sucesso) {
                    }
                });
            }

            /*
            //Retorna lista ordenada e injecta a resposta no html existente
            function ajaxGetOrderedList(orderValue) {
                var formData = {
                    parametro: orderValue,
                }
                $.ajax({
                    url: "../user/listUsersOrdered/",
                    type: 'GET',
                    contentType: "application/json",
                    data: formData,
                    dataType: 'text',
                    cache: false,
                    success: function (sucesso) {
                        if (true) {
                            $('#Lista').html(sucesso)
                        }
                    },
                    error: function (sucesso) {
                    }
                });
            }
            */
        })
    </script>
</body>
<footer>
    <% include ./footer.ejs %>
</footer>

</html>

<script>

</script>