<% data.forEach(function(dat) { %>
<% if(dat.isActive){%>
<div class="listSection">
    <div class="container" style="text-align: center;">
        <img id="listUsersPhoto" src=<%= dat.photo %> alt="">
        <input type="hidden" id="userId" name="userId" value=<%=dat.id%>>
        <p><b><%= dat.name %></label></b><br><b class=".TipoUser"><%= dat.role%></label></b>
            <a href="/user/changePermission" style="text-decoration: none;" class="bogus">
                <img src="/images/edit.png" style="display: inline;" alt=""> </a></p>
    </div>
</div>
<%  }else{ %>
    <div class="listSection" style="background-color: red;">
        <div class="container" style="text-align: center;">
            <img id="listUsersPhoto" src=<%= dat.photo %> alt="">
            <input type="hidden" id="userId" name="userId" value=<%=dat.id%>>
            <br>
            <br>
            <p><b><%= dat.name %></b><br><br></p>
        </div>
    </div>
    <% } %>
    <% }); %>
<div class="w3-container">
    <div id="id01" role="dialog" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content w3-card-4 w3-animate-left">
            <header class="w3-container w3-brown" style="padding: 5%;">
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-large w3-display-topright">&times;</span>
                <h4>Altere a Permissão</h3>
            </header>
            <div class="w3-container w3-brown">
                <p></p>
                <select id="mySelect" style="font-size: 18px; border-radius: 20px;"></select>
                <p></p>
            </div>
            <div class="footerModal w3-container w3-brown">
                <input type="hidden" id="ModaluserId">
                <p></p>
                <div>
                    <button id="BtnGuardar" class="w3-button w3-white w3-border w3-round-large">Guardar</button>
                </div>
                <p></p>
            </div>
        </div>
    </div>
</div>