<!DOCTYPE html>
<html lang="pt">

  <% include ./layout.ejs %>

<body>
  <header>
    <% include ./header.ejs %>
  </header>

  <article class="container-form">

    <div class="loginSection" style="display: inline-table">
        <%if (typeof erro != "undefined") { %>
          <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
              <%= erro %>
            </div>
          <% } %>
        
      <form action="/auth/login" method="POST" class="loginForm" name="loginform">
       
        <h3>Efetue a autenticação</h3>
        <% JSON.parse(data).forEach(function(help) { %>
        <ul class="noBullet">
          <li>
            <label for="email"></label>
            <input type="email" class="inputFields" id="email" name="email" placeholder="Email" value="" required style="background-image: url(/images/at.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
                <div onclick="toggle_visibility('myPopupEmail');" class="popup"><span class="popuptext" id="myPopupEmail"><%= help.email %></span></div>
          </li>
          <li>
            <label for="password"></label>
            <input type="password" class="inputFields" id="password" name="password" placeholder="Palavra-passe" value=""
              required style="background-image: url(/images/key.png); background-position: 224px 7px;
              background-repeat: no-repeat;" />
               <div onclick="toggle_visibility('myPopupPass');" class="popup"><span class="popuptext" id="myPopupPass"><%= help.password %></span></div>
          </li>
          <li style="text-align: left; text-decoration: underline; margin-left: 16%;"><a href="/user/recoverPassword" style="color:#422a13;">Esqueceu-se da
              palavra-passe?</a></li>
          <li id="center-btn" style="margin-top: 5%;">
            <a href="/animal/listAnimalsHomepage"> <input style= "width: 30%;" type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Voltar  "></a>
            <input type="submit" style= "width: 30%;" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Autenticar">
          </li>
        </ul>
        <% }); %>
      </form>  

    </div>
  </article>
  <footer>
    <% include ./footer.ejs %>
        </footer>
</body>

</html>

<script>

  function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block'){
          e.style.display = 'none';
          e.style.animationName = "fadeIn";
          e.style.animationDelay = "3s";
       }else{
          e.style.display = 'block';
          setTimeout(function(){
            e.style.display = "none";
          }, 3000);
       }
    }



</script>