<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Perfil</h2>
    <div class="profileSection">
        <div style="margin-left: 7%; margin-top: 10%; align-content: center; width: 40%; margin-bottom: 5%;">
            <h3><%= name %></h3>
            <ul class="propertiesUl">
                <li><%= email %></li>
                <li><%= phoneNumber %></li>
                <li><%= age %> anos</li>
                <li><%= role %></li>
            </ul>
            <a href="/auth/homepageAuth"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                    value="Voltar  "></a>
            <a href="/user/editProfile"> <button class="w3-button w3-white w3-border w3-round-large" style="align-content: center;">Editar
                    Perfil</button></a>
        </div>
        <div style=" margin-top: 5%; margin-left: 10%;">
            <img id="profilePhoto" src=<%= photo %> alt="">

            <a href="/user/removeAccount"> <img style="margin-left: 90%;" src="/images/delete.png" alt=""></a>
        </div>
    </div>
    <footer>
        <% include ./footer.ejs %>
    </footer>


</body>

</html>