<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./header.ejs %>
    </header>

    <article class="container-form">

        <div class="loginSection" style="height: 32%; margin-top: 1%;">
            <form class="loginForm" id="recoverForm">
                <h3>Recuperar palavra-passe</h3>

                <ul class="noBullet">
                    <li>
                        <label for="email"></label>
                        <input type="email" class="inputFields" id="email" name="email" placeholder="Email" value='' />
                        <required style="background-image: url(/images/at.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
                    </li>
                    <li id="center-btn">
                        <a href="/animal/listAnimalsHomepage"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                                value="Sair  "></a>
                        <input type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Enviar">
                    </li>
                </ul>
            </form>
        </div>

    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>
<script>
    $(document).ready(function () {
        // SUBMIT FORM
        $("#recoverForm").submit(function (event) {
            // Prevent the form from submitting via the browser.
            event.preventDefault();
            ajaxPost();
        });

        function ajaxPost() {

            // PREPARE FORM DATA   
            var formData = {
                email: $("#email").val(),

            }
            // DO POST
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: window.location /*+ "/recoverPassword/",*/,
                data: JSON.stringify(formData),
                dataType: 'json',
                success: function (sucesso) {
                    if (sucesso != 'enviado') {
                        $("#postResultDiv").html("<p>" +
                            "* " + sucesso + "</p>");
                    } else {
                        //console.log(window.location.host+'/user/recoverPasswordSucess');
                        window.location.assign('/user/recoverPasswordSuccess');
                    }
                },
                error: function (sucesso) {
                    $("#postResultDiv").html("<p>" +
                        "* " + sucesso + "</p>");
                }
            });

            // Reset FormData after Posting
            resetData();

        }

        function resetData() {
            $("#email").val("");

        }
    })
</script>