<!DOCTYPE html>
<html lang="pt">

<head>
  <% include ./layout.ejs %>
</head>

<body>
  <header>
    <% include ./header.ejs %>
  </header>

  <article class="container-form">

    <div class="signupSection" style="display: inline-table; margin-top: 12%;">
        <%if (typeof erro != "undefined") { %>
          <div class="alert">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
              <%= erro %>
            </div>
          <% } %>
      <form action="/auth/register" method="POST" class="signupForm" name="signupform">
        <h3 >Efetue o seu registo</h3>
        <% JSON.parse(data).forEach(function(help) { %>
        <ul class="noBullet">
          <li>
            <label for="name"></label>
            <input type="text" class="inputFields" id="name" name="name" placeholder="Nome" value="" required style="background-image: url(/images/profil.png); background-position: 224px 7px;
              background-repeat: no-repeat;" />
            <div onclick="toggle_visibility('myPopupName');" class="popup"><span class="popuptext"
                id="myPopupName"><%= help.name %></span></div>
          </li>
          <li>
            <label for="email"></label>
            <input type="email" class="inputFields" id="email" name="email" placeholder="Email" value="" required style="background-image: url(/images/at.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
            <div onclick="toggle_visibility('myPopupEmail');" class="popup"><span class="popuptext"
                id="myPopupEmail"><%= help.email %></span></div>
          </li>
          <li>
            <label for="bornDate"></label>
            <input type="date" class="inputFields" id="bornDate" name="bornDate" placeholder="Data de Nascimento"
              value="" min="1930-01-01" max="2001-01-31" required />
            <div onclick="toggle_visibility('myPopupBornDate');" class="popup"><span class="popuptext"
                id="myPopupBornDate"><%= help.bornDate %></span></div>
          </li>
          <li>
            <label for="address"></label>
            <input type="text" class="inputFields" id="address" name="address" placeholder="Morada" value="" required
              style="background-image: url(/images/address.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
            <div onclick="toggle_visibility('myPopupAddress');" class="popup"><span class="popuptext"
                id="myPopupAddress"><%= help.address %></span></div>
          </li>
          <li>
            <label for="phoneNumber"></label>
            <input type="tel" class="inputFields" id="phoneNumber" name="phoneNumber" placeholder="Telefone" value=""
              required style="background-image: url(/images/phone-call.png); background-position: 224px 7px;
                background-repeat: no-repeat;" minlength="9" />
            <div onclick="toggle_visibility('myPopupPhone');" class="popup"><span class="popuptext"
                id="myPopupPhone"><%= help.phoneNumber %></span></div>
          </li>
          <li>
            <label for="password"></label>
            <input type="password" class="inputFields" id="password" name="password" placeholder="Palavra-passe"
              value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
              background-repeat: no-repeat;" minlength="8" />
            <div onclick="toggle_visibility('myPopupPassword');" class="popup"><span class="popuptext"
                id="myPopupPassword"><%= help.password %></span></div>
          </li>
          <li>
            <label for="confpassword"></label>
            <input type="password" class="inputFields" id="confpassword" name="confpassword"
              placeholder="Confirmar Palavra-passe" value="" required style="background-image: url(/images/key.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
            <div onclick="toggle_visibility('myPopupConfPassword');" class="popup"><span class="popuptext"
                id="myPopupConfPassword"><%= help.confPassword %></span></div>
          </li>
          <li id="center-btn">
            <a href="/animal/listAnimalsHomepage"><input style= "width: 30%;" type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Voltar"></a>
            <input style= "width: 30%;" type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Registar">
          </li>
        </ul>
        <% }); %>
      </form>
    </div>
  </article>
  <footer>
    <% include ./footer.ejs %>
  </footer>
</body>

</html>

<script type="text/javascript">
  var password = document.getElementById("password");
  var confirm_password = document.getElementById("confpassword");
  var birth = document.getElementById("bornDate");

  function validatePassword() {
    if (password.value != confirm_password.value) {
      confirm_password.setCustomValidity("As palavras-passe não coicidem!");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'block') {
      e.style.display = 'none';
      e.style.animationName = "fadeIn";
      e.style.animationDelay = "3s";
    } else {
      e.style.display = 'block';
      setTimeout(function () {
        e.style.display = "none";
      }, 3000);
    }
  }


  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>