<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./header.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Detalhes do Animal</h2>
    <div class="editProfileSection" style="background-color: rgba(191, 182, 167, 0.8); color: #422a13">
        <% JSON.parse(data).forEach(function(dat) { %>
        <div style=" margin-top: 5%; margin-left: 10%;">
            <img id="profilePhoto" src=<%= dat.photo %> alt="">
        </div>
        <div style="margin-left: 7%; margin-top: 10%; align-content: center; width: 40%; margin-bottom: 5%;">
            <ul style="list-style-type: none; font-size: 18px;">
                <li>Nome: <%= dat.nameAnimal %></li>
                <li>Peso: <%= dat.weight %></li>
                <li>Raça: <%= dat.breed %></li>
                <li>Tamanho: <%= dat.size %></li>
                <li>Sexo: <%= dat.sex %></li>
                <li>Idade: <%= dat.age %></li>
            </ul>
            <a href="/animal/listAnimalsHomepage"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                    value="Voltar  "></a>
              </div>

        <% }); %>
    </div>
    <footer>
        <% include ./footer.ejs %>
    </footer>


</body>

</html>