<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Detalhes do Animal</h2>
    <div class="editProfileSection"
        style="background-color: rgba(191, 182, 167, 0.8);color: #422a13; display: grid; width: 59%;">
        <% JSON.parse(data).forEach(function(dat) { %>
        <div style="display: inline-flex;">
            <div style=" margin-top: 5%; margin-left: 10%;">
                <img id="profilePhoto" src=<%= dat.photo %> alt="">
                <% if(role == "Administrador"){ %>
                <a href="/animal/removeAnimal/<%= dat.id %>"> <img src="/images/delete.png" alt=""></a>
                <% }%>
            </div>
            <div style="margin-left: 15%; margin-top: 10%; align-content: center; width: 40%; margin-bottom: 5%;">
                <ul style="list-style-type: none; font-size: 18px;">
                    <li>Nome: <%= dat.nameAnimal %></li>
                    <li>Peso: <%= dat.weight %> Kg</li>
                    <li id="RC">Raça: <%= dat.breed %></li>
                    <li id="SZ">Tamanho: <%= dat.size %></li>
                    <li>Sexo: <%= dat.sex %></li>
                    <li>Idade: <%= dat.age %></li>
                    <li>Padrinho: <%= dat.godfather %></li>
                </ul>
                <a href="/animal/listAnimals"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                        value="Voltar  " style="margin-left: 10%"></a>
                <% if(role == "Administrador" || role == "Funcionário"){ %>
                <a href="/animal/editAnimal/<%= dat.id %>"> <button class="w3-button w3-white w3-border w3-round-large"
                        style="align-content: center;">Editar</button></a>
                <% }%>                
            </div>
        </div>
        <div style="margin-left: 5%">
            <% if(role == "Utilizador"){ %>
            <a href="/adoption/adoptionRequest/<%= dat.id %>"> <button class="w3-button w3-white w3-border w3-round-large"
                    style="align-content: center; background-color: orange !important;">Adotar</button></a>
             <a href="/adoption/temporaryHost/<%= dat.id %>"> <button class="w3-button w3-white w3-border w3-round-large"
                        style="align-content: center; background-color: lightsalmon !important;">Acolhimento temporário</button></a>
            <% if(dat.godfather == "nenhum") { %>
            <a href="/adoption/patronAnimal/<%= dat.id %>"> <button class="w3-button w3-white w3-border w3-round-large"
                    style="align-content: center; background-color: peru !important;">Apadrinhar</button></a>
            <% } %>
            
            <% }%></div>
        
        <div id="listAnimals" style="display:inline-block; margin-bottom: 3%;">
            <p id = "curAnimal" hidden><%= dat.id %></p>

        </div>
        <% }); %>
    </div>


    <footer>
        <% include ./footer.ejs %>
    </footer>


</body>

</html>
<script>
    $(document).ready(function () {
        ajaxGet();

        function ajaxGet() {
            var formData = {
                raca_porte: $("#RC").text().split(" ")[1] + "_" + $("#SZ").text().split(" ")[1],
            }
            var curAnimal = document.getElementById("curAnimal").innerHTML;
            $.ajax({
                url: "../suggestion/" + curAnimal,
                type: 'GET',
                contentType: "application/json",
                data: formData,
                dataType: 'text',
                cache: false,
                success: function (sucesso) {
                    $('#listAnimals').html(sucesso)
                },
                error: function (sucesso) {
                    console.log(sucesso);
                }
            });
        }
    });
</script>