<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Editar Animal</h2>
    <div class="editProfileSection"
    style="background-color: rgba(191, 182, 167, 0.8); color: #422a13">
        <form action="/animal/editAnimal/<%= id %>" method="POST" enctype='multipart/form-data' class="editForm"
            name="editForm">
            <div style="display: flex;">

                <table class="tableEdit" style="margin-top: 7%; margin-left: 10%; margin-right: 20%;">
                    <tr>
                        <td for="name">Nome</td>
                        <td> <input type="text" class="inputFieldsE" id="name" name="name" value=<%= nameAnimal %>
                                required style=" background-position: 224px 7px;
                            background-repeat: no-repeat;"></td>
                    </tr>
                    <tr>
                        <td for="weight">Peso</td>
                        <td> <input type="text" class="inputFieldsE" id="weight" name="weight" value=<%= weight %>
                                required style="background-position: 224px 7px;
                            background-repeat: no-repeat;"> </td>
                    </tr>
                    <tr>
                        <td for="breed">Raça</td>
                        <td> <input type="text" class="inputFieldsE" id="breed" name="breed" value="<%= breed %>"
                                required></td>
                    </tr>
                    <tr>
                        <td for="size">Porte</td>
                        <td> <select class="inputFieldsE" id="size" name="size">
                                <option disabled selected value> Porte </option>
                                <option value="Pequeno" <%= size == 'Pequeno' ? 'selected' : ''%>>Pequeno</option>
                                <option value="Médio" <%= size == 'Médio' ? 'selected' : ''%>>Médio</option>
                                <option value="Grande" <%= size == 'Grande' ? 'selected' : ''%>>Grande</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td for="sex">Sexo</td>
                        <td> <select class="inputFieldsE" id="sex" name="sex">
                                <option disabled selected value> Sexo </option>
                                <option value="Macho" <%= sex == 'Macho' ? 'selected' : ''%>>Macho</option>
                                <option value="Fêmea" <%= sex == 'Fêmea' ? 'selected' : ''%>>Fêmea</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td for="bornDate">Data de nascimento</td>
                        <td> <input type="date" class="inputFieldsE" id="bornDate" name="bornDate" min="2001-01-31"
                                max="<%= maxData %>" value="<%= bornDate %>" required></td>
                    </tr>
                </table>
                <div class="container">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input type='file' id="imageAnimalUpload" name="imageAnimalUpload"
                                accept=".png, .jpg, .jpeg" />
                            <label for="imageAnimalUpload"></label>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url('<%= photo %>')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table>
                <ul style="list-style-type: none; margin-left: 5%;">
                    <li>
                        <a href="/animal/animalDetails/<%= id %>"> <input type="button"
                                class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                                value="Voltar  "></a>
                        <input type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                            value="Guardar">
                    </li>
                </ul>
            </table>
        </form>
</body>

</html>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageAnimalUpload").change(function () {
        readURL(this);
    });
</script>