<!DOCTYPE html>
<html lang="pt">

<% include ./layout.ejs %>

<body>
  <header>
    <% include ../users/authenticatedHeader.ejs %>
  </header>

  <article class="container-form">

    <div class="signupSection" style="height: 90%;">
      <form action="/animal/insertAnimal" enctype='multipart/form-data' method="POST" class="signupForm"
        name="signupform">
        <h3 style="margin-left: 17%;">Criar ficha de animal</h3>
        <% JSON.parse(data).forEach(function(help) { %>
        <ul class="noBullet">
          <li>
            <% if(animalName) { %>
            <input type="text" class="inputFields" id="name" name="name" value="<%= animalName %>" style="margin-right: 8%" readonly/>
            <% }else{ %>
            <label for="name"></label>
            <input type="text" class="inputFields" id="name" name="name" placeholder="Nome" value="" required style="background-image: url(/images/name.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
            <div onclick="toggle_visibility('myPopupName');" class="popup"><span class="popuptext"
                id="myPopupName"><%= help.name %></span></div>
            <% } %>
          </li>
          <li>
            <label for="weight"></label>
            <input type="text" class="inputFields" id="weight" name="weight" placeholder="Peso" value="" required style="background-image: url(/images/weight-tool.png); background-position: 224px 7px;
                background-repeat: no-repeat;" />
            <div onclick="toggle_visibility('myPopupWeight');" class="popup"><span class="popuptext"
                id="myPopupWeight"><%= help.weight %></span></div>
          </li>
          <li>
            <label for="breed"></label>
            <input type="text" class="inputFields" id="breed" name="breed" placeholder="Raça" value="" style="background-image: url(/images/breed.png); background-position: 224px 7px;
              background-repeat: no-repeat;" required />
            <div onclick="toggle_visibility('myPopupBreed');" class="popup"><span class="popuptext"
                id="myPopupBreed"><%= help.breed %></span></div>
          </li>
          <li>
            <label for="size"></label>
            <select class="inputFields" id="size" name="size">
              <option disabled selected value> Porte </option>
              <option value="Pequeno">Pequeno</option>
              <option value="Médio">Médio</option>
              <option value="Grande">Grande</option>
            </select>
            <div onclick="toggle_visibility('myPopupSize');" class="popup"><span class="popuptext"
                id="myPopupSize"><%= help.size %></span></div>
          </li>
          <li>
            <label for="sex"></label>
            <select class="inputFields" id="sex" name="sex">
              <option disabled selected value> Sexo </option>
              <option value="Macho">Macho</option>
              <option value="Fêmea">Fêmea</option>
            </select>
            <div onclick="toggle_visibility('myPopupSex');" class="popup"><span class="popuptext"
                id="myPopupSex"><%= help.sex %></span></div>
          </li>
          <li>
            <label for="bornDate"></label>
            <input type="date" class="inputFields" id="bornDate" name="bornDate" placeholder="Data de Nascimento"
              value="" min="2001-01-31" max="<%= maxData %>" required />
            <div onclick="toggle_visibility('myPopupBornDate');" class="popup"><span class="popuptext"
                id="myPopupBornDate"><%= help.bornDate %></span></div>
          </li>
          <li>
            <label for="imageAnimalUpload"></label>
            <input type='file' id="imageAnimalUpload" name="imageAnimalUpload" accept=".png, .jpg, .jpeg" required />
            <div onclick="toggle_visibility('myPopupPhoto');" class="popup"><span class="popuptext"
                id="myPopupPhoto"><%= help.photo %></span></div>
          </li>
          <li id="center-btn">
            <a href="/animal/listAnimals"><input type="button" class="w3-button w3-white w3-border w3-round-large"
                name="join" alt="Join" value="Voltar"></a>
            <input type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
              value="Criar">
          </li>
        </ul>
        <% }); %>
      </form>
    </div>
  </article>
  <footer>
    <% include ../users/footer.ejs %>
  </footer>
</body>

</html>

<script type="text/javascript">

  function toggle_visibility(id) {
    var e = document.getElementById(id);
    if (e.style.display == 'block') {
      e.style.display = 'none';
      e.style.animationName = "fadeIn";
      e.style.animationDelay = "3s";
    } else {
      e.style.display = 'block';
      setTimeout(function () {
        e.style.display = "none";
      }, 3000);
    }
  }

</script>