<!DOCTYPE html>
<html lang="pt">

<% include ./layout.ejs %>
<header>
    <% include ./authenticatedHeader.ejs %>
</header>

<body>
    <div class="listDiv"
        style="border-radius: 3%;  margin: 7%;  background-color: rgba(191, 182, 167, 0.8);">
        <div style="display: inline">

            <h2 style=" text-align: center; padding-top: 2%; color: #422a13;">Lista de Animais</h2>
            <% if(role == "Administrador" || role == "Funcionário"){ %>
            <a href="/animal/insertAnimal">
                <div style="font-size: 20px; display: -webkit-inline-box; margin-left: 80%; color: #422a13;">
                    <img src="/images/plus.png" alt="">
                    <p style="margin-left: 3%;">Inserir novo animal</p>
                </div>
            </a>
          <% }%>
        </div>
        <select id="Ordenar" style=" margin-left: 10%; font-size: 18px; border-radius: 20px;">
            <option disabled selected value> Ordenar por </option>
            <option value="Nome">Nome</option>
            <option value="Raça">Raça</option>
            <option value="Data">Data de Nascimento</option>
        </select>
        <select id="Filtrar" style="margin-left: 2%; font-size: 18px;border-radius: 20px;">
            <option disabled selected value> Filtrar por </option>
            <optgroup label="Raça">
                <option value="raca_Bulldog">Bulldog</option>
                <option value="raca_Caniche">Caniche</option>
                <option value="raca_Rafeiro">Rafeiro</option>
            </optgroup>
            <optgroup label="Idade">
                <option value="Idade_3">Até 3 anos</option>
                <option value="Idade_6">Entre 3 e 6 anos</option>
                <option value="Idade_7+">6+ anos</option>
            </optgroup>
            <optgroup label="Porte">
                <option value="Porte_Pequeno">Pequeno</option>
                <option value="Porte_Médio">Médio</option>
                <option value="Porte_Grande">Grande</option>
                </optgroup>
        </select>
        <div id="listAnimals" style="margin-left: 5%; margin-top: 3%;">
            <div> 
                <% JSON.parse(data).forEach(function(dat) { %>
                <div class="listAnimals">
                    <div class="container" style="text-align: center;">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hovereffect">
                                <img id="photoAnimal" src=<%= dat.Photo %> alt="">
                                <div class="overlay">
                                    <a href="/animal/animalDetails/<%= dat.id %>">
                                        <h2><%= dat.Nome %></h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% }); %>
            </div>
        </div>
    </div>


    </div>
</body>

<footer>
    <% include ./footer.ejs %>
</footer>

</html>

<script>
    $(document).ready(function () {

        //Detectar quando o user pede para ordenar lista
        $("#Ordenar").on('change', function (event) {
                var ordem = $(this).val();
               var filtro=$("#Filtrar option:selected").val();
                event.preventDefault();
                ajaxGetOrderedList(ordem,filtro);
            })

            $("#Filtrar").on('change', function (event) {
                var filtro = $(this).val();
                var ordem=$("#Ordenar option:selected").val();
                event.preventDefault();
                ajaxGetOrderedList(ordem,filtro);
            })

            //Retorna lista ordenada e injecta a resposta no html existente
            function ajaxGetOrderedList(ordem,filtro) {
                var formData = {
                    order: ordem,
                    filter: filtro,
                }
                $.ajax({
                    url: "../animal/listAnimalsOrderedFiltered",
                    type: 'GET',
                    contentType: "application/json",
                    data: formData,
                    dataType: 'text',
                    cache: false,
                    success: function (sucesso) {
                        if (true) {
                            $('#listAnimals').html(sucesso)
                        }
                    },
                    error: function (sucesso) {
                    }
                }); 
            }
    
    });
</script>