<div>
    <% data.forEach(function(dat) { %>
    <div class="listAnimals">
        <div class="container" style="text-align: center;">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="hovereffect">
                    <img id="photoAnimal" src=<%= dat.Photo %> alt="">
                    <div class="overlay">
                        <a href="/animal/animalDetailsHomepage/<%= dat.Id %>">
                            <h2><%= dat.Nome %></h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% }); %>
</div>