<!DOCTYPE html>
<html lang="pt">

<% include ./layout.ejs %>
<header>
    <% include ./header.ejs %>
</header>

<body>
    <div class="listDiv" style="border-radius: 3%;  margin: 7%; background-color: rgba(191, 182, 167, 0.8);">
        <div style="display: inline">

            <h2 style=" text-align: center; padding-top: 2%; color: #422a13;">Bem-vindo</h2>
            <p style="    text-align: -webkit-center;  margin: 1% 10%; color: #422a13; font-size: medium;">Situada na Quinta das Rebelas, no concelho do Barreiro, a Quinta do Mião –
                Centro de Recolha de Animais Errantes do Barreiro e da Moita é uma obra assumida pelos municípios da
                Moita e
                Barreiro que colaboraram, assim, na criação de instalações mais modernas e adequadas do que as
                existentes
                até agora nos dois concelhos, repartindo as despesas de construção do novo equipamento e partilhando
                recursos.</p>

        </div>

        <div id="listAnimals" style="margin-left: 5%; margin-top: 3%;">
            <div>
                <% JSON.parse(data).forEach(function(dat) { %>
                <div class="listAnimals">
                    <div class="container" style="text-align: center;">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="hovereffect">
                                <img id="photoAnimal" src=<%= dat.Photo %> alt="">
                                <div class="overlay">
                                    <a href="/animal/animalDetailsHomepage/<%= dat.Id %>">
                                        <h2><%= dat.Nome %></h2>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% }); %>
            </div>
        </div>
    </div>


    </div>
</body>

<footer>
    <% include ./footer.ejs %>
</footer>

</html>

<script>
    $(document).ready(function () {

        //Detectar quando o user pede para ordenar lista
        $("#Ordenar").on('change', function (event) {
            var ordem = $(this).val();
            var filtro = $("#Filtrar option:selected").val();
            event.preventDefault();
            ajaxGetOrderedList(ordem, filtro);
        })

        $("#Filtrar").on('change', function (event) {
            var filtro = $(this).val();
            var ordem = $("#Ordenar option:selected").val();
            event.preventDefault();
            ajaxGetOrderedList(ordem, filtro);
        })

        //Retorna lista ordenada e injecta a resposta no html existente
        function ajaxGetOrderedList(ordem, filtro) {
            var formData = {
                order: ordem,
                filter: filtro,
            }
            $.ajax({
                url: "../animal/listAnimalsOrderedFiltered",
                type: 'GET',
                contentType: "application/json",
                data: formData,
                dataType: 'text',
                cache: false,
                success: function (sucesso) {
                    if (true) {
                        $('#listAnimals').html(sucesso)
                    }
                },
                error: function (sucesso) {
                }
            });
        }

    });
</script>