/*Menu utilizador não autenticado*/

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.9 !important;

}

.navbar-title {
    float: left;
    margin-left: 40%;
}

.navbar-title a {
    text-decoration: none;
    font-size: 34px;
    color: #422a13;
}

#navbar-right {
    margin-right: 10%;
    font-size: 18px;
    color: #422a13;
    font-weight: bold;
}



body {
    background-image: url("/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Meera Inimai', sans-serif;
    color: #422a13;
}


#navbar-right li:hover {
    text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 #fffefc, 3px 3px 0 rgb(248, 248, 248);
    transform: translate(-3px, -3px);
}

/*Article -  Sobre nós*/

article {
    background-color: #fdfdfd;
    text-align: justify;
    opacity: 1;
}

article p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
}

article h3 {
    font-size: 24px;
    text-align: center;
    padding-right: 15%;
    ;
}

article div {
    padding: 4%;
    padding-top: 1%;
    margin-top: 5%;
}

/*Footer*/

footer {
    background-color: #fdfdfd;
    text-align: justify;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #422a13;
    font-size: 12px;
    font-family: 'Meera Inimai', sans-serif;
}

/*Menu utilizador autenticado*/

#navbar-center {
    font-size: 18px;
}

#navbar-center li:hover {
    text-shadow: 1px 1px 0 #fdfdfd, 2px 2px 0 #fffefc, 3px 3px 0 rgb(248, 248, 248);
    transform: translate(-3px, -3px);
}

.navbar-title-auth {
    float: left;
    margin-left: 5%;
}

.navbar-title-auth a {
    text-decoration: none;
    font-size: 34px;
    color: #422a13;
}

#container a img {
    display: none;
    margin-right: 20px;
}


/*Form*/


* {
    font-family: 'Meera Inimai', sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.signupSection {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 95%;
    text-align: center;
    display: flex;
    color: #422a13;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    margin-bottom: 5%;
    background: rgba(191, 182, 167, 0.8);

}


.loginSection {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 50%;
    text-align: center;
    display: inline-block;
    color: #422a13;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    background: rgba(191, 182, 167, 0.8);
}

.signupForm,
.loginForm {
    margin-left: 15%;
    transition: 0.2s;
}

.signupForm h2,
.loginForm h2 {
    font-weight: 300;
    margin-right: 30%;
}

.inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 2%;
    width: 65%;
    border: 1px solid #eb8213;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(247, 246, 246, 0.2);
    opacity: 1;
    color: #422a13;
    outline: none;
}

.noBullet {
    list-style-type: none;
    padding: 0;
    width: 400px;
}

.join-btn {
    border: 1px solid #eb8213;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}

.join-btn:hover {
    background: rgba(20, 20, 20, 0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(/images/calendar.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.informationSection {
    box-shadow: 3px 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
    background: #eea322cc;
}

/*Perfil*/

.propertiesUl {
    list-style-image: url("/images/play-button.png");
    margin-bottom: 12%;
}

.propertiesUl li {
    padding: 1%;
}

.profileSection {
    opacity: 0.8;
    background-color: rgba(191, 182, 167, 0.8);; 
    color: #422a13;
    width: 60%;
    height: 40%;
    margin-left: 20%;
    margin-bottom: 5%;
    display: inline-flex;
}

.btn-editar {
    border: 1px solid #422a13;
    font-size: 18px;
    background-color: rgba(255, 218, 156, 0.8); 
    color: #422a13;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}

#BtnGuardar {
    border: 1px solid #422a13;
    background: rgba(221, 215, 215, 0.6);
    color: #422a13;
    padding: 5px 20px;
    cursor: pointer;
    transition: 0.4s;
}

.btn-editar:hover {
    background: rgba(231, 228, 228, 0.8);
}

.editProfileSection {
    opacity: 0.9;
    background-color: rgba(191, 182, 167, 0.8); 
    color: #422a13;
    width: 55%;
    height: 40%;
    margin-left: 22%;
    margin-bottom: 5%;
    display: inline-flex;
}

.tableEdit td {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    border: none;
    opacity: 1;
    outline: none;
}

.inputFieldsE {
    background-color: #fdfdfd;
    border: 1px solid #eb8213;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 2%;
    font-size: 16px;
    padding: 2%;
    width: 98%;
    opacity: 1;
    outline: none;
}

/*Alerta de erros*/

.alert {
    padding: 20px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*CSS modal*/

.w3-container:after,
.w3-container:before {
    content: "";
    display: table;
    clear: both
}

.w3-container {
    padding: 0.01em 16px;
    opacity: 0.95 !important;
}

.w3-modal {
    position: absolute;
    width: 300px;
    z-index: 3;
    display: none;
    padding-top: 250px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    outline: 0;
    width: 300px;
    text-align: center
}

@media (max-width:1205px) {
    .w3-auto {
        max-width: 95%
    }
}

@media (max-width:600px) {
    .w3-modal-content {
        margin: 0 10px;
        width: auto !important
    }

    .w3-modal {
        padding-top: 30px
    }

    .w3-dropdown-hover.w3-mobile .w3-dropdown-content,
    .w3-dropdown-click.w3-mobile .w3-dropdown-content {
        position: relative
    }

    .w3-hide-small {
        display: none !important
    }

    .w3-mobile {
        display: block;
        width: 100% !important
    }

    .w3-bar-item.w3-mobile,
    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-click.w3-mobile {
        text-align: center
    }

    .w3-dropdown-hover.w3-mobile,
    .w3-dropdown-hover.w3-mobile .w3-btn,
    .w3-dropdown-hover.w3-mobile .w3-button,
    .w3-dropdown-click.w3-mobile,
    .w3-dropdown-click.w3-mobile .w3-btn,
    .w3-dropdown-click.w3-mobile .w3-button {
        width: 100%
    }
}

@media (max-width:768px) {
    .w3-modal {
        padding-top: 50px
    }
}

@media (min-width:993px) {
    .w3-hide-large {
        display: none !important
    }

    .w3-sidebar.w3-collapse {
        display: block !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .w3-hide-medium {
        display: none !important
    }
}

@media (max-width:992px) {
    .w3-sidebar.w3-collapse {
        display: none
    }

    .w3-main {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .w3-auto {
        max-width: 100%
    }
}

.w3-animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.w3-card-4 {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.w3-button:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.w3-disabled *,
:disabled * {
    pointer-events: none
}

.w3-dropdown-hover:hover>.w3-button:first-child,
.w3-dropdown-click:hover>.w3-button:first-child {
    background-color: #ccc;
    color: #000
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.w3-bar .w3-button {
    white-space: normal
}

.w3-button:hover {
    color: rgb(245, 245, 245) !important;
    background-color: rgb(161, 107, 12) !important
}

.w3-tiny {
    font-size: 10px !important
}

.w3-small {
    font-size: 12px !important
}

.w3-medium {
    font-size: 15px !important
}

.w3-large {
    font-size: 18px !important
}

.w3-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

/*Cores*/
.w3-brown,
.w3-hover-brown:hover {
    color: #fff !important;
    background-color: #8B4513 !important
}

.w3-orange,
.w3-hover-orange:hover {
    color: #000 !important;
    background-color: #FFE4B5 !important
}

.footerModal {
    display: block
}



/*Ajudas forms*/

.popup {
    background-image: url("/images/information.png");
    background-repeat: no-repeat;
    position: relative;
    display: inline;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/*Lista de utilizadores*/

.listSection {
    padding: 1% 3%;
    margin: 2%;
    display: -webkit-inline-box;
    color: white;
    background-color: #eb8213;
    border: 1px;
    border-radius: 20px;
}

#container {
    width: 100%;
    height: 100%;
    /* float: left;*/
    /*overflow: hidden;*/
    position: relative;
    text-align: center;
}

.listDiv {
    margin-top: 5%;
    background-color: #fffefc;
    opacity: 1;
}

.listDiv select:focus {
    outline: none;
}

.permissionDiv {
    background-color: rgba(255, 218, 156, 0.8); 
    color: #422a13;
    opacity: 0.8;
    margin: 7% 20%;
    height: 250%;
}

/*Responsive*/
@media only screen and (max-width: 600px) {
    .signupSection {
        width: 0;
        margin-top: 30%;
    }
}

/*Foto de perfil*/

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}

h1 small {
    display: block;
    font-size: 15px;
    padding-top: 8px;
    color: gray;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#profilePhoto {
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 10%;
}

#listUsersPhoto {
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

/*Alert*/
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*Lista de animais*/
.hovereffect {
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: hidden;

}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: #eb8213;
    margin: 0px;
    display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#photoAnimal {
    width: 220px;
    height: 220px;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin: 10%;
    border-radius: 5%;
}

.listAnimals {
    display: -webkit-inline-box;
    color: white;
}

#imageAnimalUpload {
    background: antiquewhite;
    width: 65%;
}

/*detalhes do animal*/
.animalSection {
    opacity: 1;
    background-color: rgba(255, 218, 156, 0.8); 
    color: #422a13;
    width: 60%;
    height: 40%;
    margin-left: 20%;
    margin-bottom: 5%;
    display: inline-flex;
    background-image: radial-gradient(circle, #342a0c, #41341b, #4d3f29, #594a38, #655647);
}

button:focus,
input:focus {
    outline: none;
}

/*Rangerlider*/
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("/images/hamster-wheel.png");
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("/images/hamster-wheel.png");
    cursor: pointer;
}

/*Progress bar*/

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Meera Inimai', sans-serif;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #eb8213;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #eb8213;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #eb8213;
}

#msform .action-button-previous {
    width: 100px;
    background: rgb(186, 186, 199);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #eb8213;
    color: white;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}

.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #eb8213;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover,
.dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

