<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
</head>

<header>
    <% include ./authenticatedHeader.ejs %>
</header>

<body>
    <div class="container">
        <div>
            <article class="container-form" style="margin: 5% 20%;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 20%">Titulo</th>
                            <th scope="col" style="width: 15%">Data</th>
                            <th scope="col">Mensagem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% JSON.parse(data).forEach(function(dat) { %>
                        <% if(dat.NotifType != "Adoção" && dat.NotifType != "FAT"){ %>
                        <tr style="background-color: #d6d6d6">
                            <td><%= dat.Titulo %> </td>
                            <td><%= dat.Data %></td>
                            <td><%= dat.Corpo %></td>
                        </tr>
                        <% } else { %>
                            <% if(dat.Lida){ %>
                            <tr style="background-color: #d6d6d6">
                                <td><%= dat.Titulo %> </td>
                                <td><%= dat.Data %></td>
                                <td><a href="/adoption/adoptionSheet/<%= dat.AdoptionId %>"><%= dat.Corpo %></a></td>
                            </tr>
                            <% } else { %>
                            <tr>
                                <td><%= dat.Titulo %> </td>
                                <td><%= dat.Data %></td>
                                <td><a href="/adoption/adoptionSheet/<%= dat.AdoptionId %>"><%= dat.Corpo %></a></td>
                            </tr>
                            <%  } %>
                        <%  } %>
                        <% }); %>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
</body>
<footer>
    <% include ./footer.ejs %>
</footer>