<!DOCTYPE html>

<html lang="pt">

<head>
    <% include ./layout.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <div class="row" style="margin-left: 28%; width: 90%; margin-top: 5%;">
        <div class="col-md-6 col-md-offset-3">
            <form action="/donation/chooseDonation" method="POST" id="msform">
                <ul id="progressbar" style="margin-left: 20%;">
                    <li class="active">Quantia a doar</li>
                    <li>Inserir dados do cartão</li>
                </ul>
                <fieldset>
                    <h2 class="fs-title">Quantia a doar</h2>
                    <p>Agradecemos desde já a sua disponibilidade, escolha o valor que pretende doar e veja
                        qual a regalia que vai receber!!</p>
                    <div class="slidecontainer">
                        <input style="padding: 7px; border-radius: 100px;" type="range" min="1" max="100" value="1"
                            class="slider" id="myRange" name="amount" required>
                        <p>Valor: <span id="demo"></span>€</p>
                        <div id="info" style="color: #eb8213; display: none;padding: 2% 6%;"></div>
                        <input style="display: none; margin-top: 2%;" id="inputName" type="text"
                            placeholder="Nome do animal" name="animalName">
                    </div>
                    <input type="button" name="next" class="next action-button" value="Próximo" />

                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Insira os dados do cartão</h2>
                    <input type="text" id="cardNumber" name="cardNumber" pattern="[0-9]{16}"
                        placeholder="Número do cartão de crédito" required />
                    <h5>Expira em:</h5>
                    <input type="month" id="date" name="expireDate" min="<%= minDate %>" required />
                    <input type="text" id="cvv" pattern="[0-9]{3}" name="securityCode" placeholder="Código de segurança"
                        required />
                    <input type="button" name="previous" class="previous action-button-previous" value="Anterior" />
                    <input type="submit" class="submit action-button" value="Confirmar" />
                </fieldset>
            </form>
        </div>
    </div>
</body>

<footer>
    <% include ./footer.ejs %>
</footer>
<script>
$('#cardNumber').bind('input propertychange', function() {
    Stripe.setPublishableKey('pk_test_B2wFQ62Z1546Djkyn76q4I5y00lMwlB5t7');
    let resp=Stripe.card.validateCardNumber($(this).val());
    console.log(resp);
    let inputVal = document.getElementById("cardNumber");
    if(resp)
    {
        inputVal.style.backgroundColor='#a6f2a6';
    }
    else
    {
        inputVal.style.backgroundColor='#f28d8d';
    }
});
$('#cvv').bind('input propertychange', function() {
    Stripe.setPublishableKey('pk_test_B2wFQ62Z1546Djkyn76q4I5y00lMwlB5t7');
    let resp=Stripe.card.validateCVC($(this).val());
    let inputVal = document.getElementById("cvv");
    if(resp)
    {
        inputVal.style.backgroundColor='#a6f2a6';
    }
    else
    {
        inputVal.style.backgroundColor='#f28d8d';
    }
});
$('#date').bind('input propertychange', function() {
    Stripe.setPublishableKey('pk_test_B2wFQ62Z1546Djkyn76q4I5y00lMwlB5t7');
    let resp=Stripe.card.validateExpiry($(this).val());
    console.log(resp);
    console.log($(this).val());
    let inputVal = document.getElementById("date");
    if(resp)
    {
        inputVal.style.backgroundColor='#a6f2a6';
    }
    else
    {
        inputVal.style.backgroundColor='#f28d8d';
    }
});
</script>
<script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    var divInfo = document.getElementById("info");
    var inputName = document.getElementById("inputName");
    output.innerHTML = slider.value;

    slider.oninput = function () {
        output.innerHTML = this.value;
        if (slider.value >= 1 && slider.value < 10) {
            divInfo.style.display = "inline";
            divInfo.innerHTML = "Acabou de receber um brinde, pode dirigir-se ao albergue para levantá-lo!";
            inputName.style.display = "none";
        }else if(slider.value >=10 && slider.value < 50){
            divInfo.style.display = "inline";
            divInfo.innerHTML = "Ao escolher este valor, vai poder ter uma visita guiada ao nosso canil!";
            inputName.style.display = "none";
        } else if (slider.value >= 50 && slider.value <= 100) {
            divInfo.style.display = "inline";
            divInfo.innerHTML = "Ao escolher este valor poderá decidir o nome do nosso próximo animal!"
            inputName.style.display = "inline";
        } else {
            divInfo.style.display = "none";
            inputName.style.display = "none";
        }
    }

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50) + "%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale(' + scale + ')'
                });
                next_fs.css({ 'left': left, 'opacity': opacity });
            },
            duration: 8,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function () {
        if (animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({ opacity: 0 }, {
            step: function (now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1 - now) * 5) + "%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({ 'left': left });
                previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
            },
            duration: 8,
            complete: function () {
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });
</script>

</html>