<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./header.ejs %>
    </header>

    <article class="container-form">
        <div class="loginSection" style="height: 32%; display: inline-table;">
            <div style="display: block;">
                <h3 style="margin-left: 15%;"><b>Pedido de <%= pedido %></b></h3>
                <div class="informationSection">
                    <h5>O seu pedido de <%= pedido %> foi realizado com sucesso, aguarde pela confirmação de um funcionário.</h5>
                </div>
            </div>
            <a href="/animal/listAnimals"><input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Sair  "></a>
        </div>

    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>