<!DOCTYPE html>

<html lang="pt">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <div class="container bootstrap snippet" style="background-color: white; opacity: 0.7; margin: 5% 12%">
        <div class="row">
            <div class="col-sm-10">
                <h1><%= adoptionType %></h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->

                <div class="text-center">
                    <img style="border: 5px solid orange;" id="profilePhoto" src=<%= userPhoto %> alt="">
                </div>
                </hr><br>

                <div class="text-center">
                    <img style="border: 5px solid orange;" id="profilePhoto" src=<%= animalPhoto %> alt="">
                </div>
                </hr><br>


            </div>
            <!--/col-3-->
            <div class="col-sm-9">

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form class="form" action="##" method="post" id="adoptionConfirmForm">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <b>
                                            <h4>Nome do adotante</h4>
                                        </b>
                                    </label>
                                    <p><%= username %></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <b>
                                            <h4>Nome do Animal</h4>
                                        </b>
                                    </label>
                                    <p><%= animalName %></p>
                                </div>

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <p><%= email %></p>
                                </div>

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Raça</h4>
                                    </label>
                                    <p><%= breed %></p>
                                </div>

                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Telemóvel</h4>
                                    </label>
                                    <p><%= phoneNumber %></p>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="phone">
                                            <h4>Porte</h4>
                                        </label>
                                        <p><%= size %></p>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="phone">
                                            <h4>Morada</h4>
                                        </label>
                                        <p><%= address %></p>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <label for="phone">
                                            <h4>Género</h4>
                                        </label>
                                        <p><%= gender %></p>
                                    </div>
                                </div>
                                <%  if(adoptionType == "Apadrinhamento" || adoptionType == "FAT"){ %>
                                    <div class="form-group">

                                        <div class="col-xs-6">
                                            <label for="phone">
                                                <h4>Data de fim</h4>
                                            </label>
                                            <p><%= endDate %></p>
                                        </div>
                                    </div>
                                <% } %>                                
                            </div>
                            
                            <!--/tab-pane-->
                    </div>
                    <!--/tab-content-->
                    

                </div>
                <a href="/adoption/listAdoptions"> <input type="button" class="btn btn-secondary"
                    name="join" alt="Join" value="Voltar" style="height:45px;width:170px; margin-left: 10%; margin-top: 10%;"></a>
                <!--/col-9-->
            </div>
            <!--/row-->
        </div>

        <footer>
            <% include ./footer.ejs %>
        </footer>
</body>
<script>
    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>