<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>
    <h2 style="color: #422a13; text-align: center; margin-top: 4%;">Lista de Adoções</h2>
    <article class="container-form" style="margin: 5% 20%;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Adotante</th>
                    <th scope="col">Animal</th>
                    <th scope="col">Tipo de Adoção</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% JSON.parse(data).forEach(function(dat) { %>
                <tr>
                    <td><%= dat.adopterName %></td>
                    <td><%= dat.animalName %></td>
                    <td><%= dat.hostType %></td>
                    <td><a href="/adoption/adoptionDetails/<%= dat.adoptionId %>">Detalhes</a> <a href="/adoption/removeAdoption/<%= dat.adoptionId %>">Remover</a></td>
                </tr>
                <% }); %>
            </tbody>
        </table>

    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>