<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>

    <article class="container-form">
        <div class="loginSection" style="height: 32%; display: inline-table;">
            <div style="display: block;">
                <h3 style="margin-left: 15%;">Tem a certeza que pretende eliminar esta adoção?</h3>
                
            </div>
            <a href="/adoption/removeAdoptionConfirm/<%= adoptionId %>" style="padding: 5px;"><input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Sim  "></a>
            <a href="/adoption/listAdoptions"> <input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Não  "></a>
        </div>

    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>