<!DOCTYPE html>
<html lang="pt">

<head>
    <% include ./layout.ejs %>
</head>

<body>
    <header>
        <% include ./authenticatedHeader.ejs %>
    </header>

    <article class="container-form">
        <div class="loginSection" style="height: 32%; display: inline-table;">
            <form action="/adoption/temporaryHost/<%= id %>" method="POST" class="signupForm"
            name="signupform">
            <h3>Acolhimento temporário</h3>
            
            <ul class="noBullet">
              <li>
                <label for="endDate"></label>
                <input type="month" class="inputFields" id="endDate" name="endDate" placeholder="Data de Fim" value="" required  min="<%= minData %>"/>
              </li>              
              <li id="center-btn">
                <a href="/animal/animalDetails/<%= id %>"><input type="button" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join"
                    value="Voltar"></a>
                <input type="submit" class="w3-button w3-white w3-border w3-round-large" name="join" alt="Join" value="Confirmar">
              </li>
            </ul>

          </form>
      </div>
    </article>
    <footer>
        <% include ./footer.ejs %>
    </footer>
</body>

</html>